.green-battery,
.yellow-battery,
.red-battery{
position: relative;
border: 6px solid black;
width: 200px;
height: 80px;
margin: 25px;
}

.red-battery::before{
background-color: red;
width: 35%;
} 

.yellow-battery::before{
  background-color: orange;
      width: 70%;
}

.green-battery::before{
  background-color: green;
      width: 100%;
}

.green-battery::before,
.yellow-battery::before,
.red-battery::before{
    content: "";
    position: absolute;
    height: 100%;
}
.green-battery::after,
.yellow-battery::after,
.red-battery::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 15px;
    height: 40px;
    background-color: black;
    transform: translateY(-50%);
}
