.title {
    position: relative;
    font-size: 25px;
    text-align: center;
}

.title::before {
    left: 0;
   width: calc(50% - 40px);
    transform: translateY(-50%);
}

.title::after {
    right: 0;
    width: calc(50% - 40px);
    transform: translateY(-50%);
}

.title::before, .title::after {
    background-color: black;
    content: "";
    position: absolute;
    height: 6px;
    top: 50%;
}