table {
  margin: 20px;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 42px;
}

tbody tr:nth-child(odd) td:nth-child(odd),
tbody tr:nth-child(even) td:nth-child(even) {
  background-color: white;
}

tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd) {
  background-color: #d3d3d3d2;;
}

td {
  width: 70px;
  height: 70px;
}